{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "node": "current",
        "browsers": ["last 2 versions", "safari >= 7"]
      },
      "debug": "true"
    }]
  ],
  "sourceMaps": true,
  "retainLines": true,
  "plugins": ["transform-class-properties"]
}